---
http_interactions:
- request:
    method: get
    uri: http://gateway.marvel.com/v1/public/characters/1009521?apikey=07e4dc912806b1c5d1e51687095bca09&hash=0db5e378a0838a56ec2e8fadcc495e9a&ts=1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - a441c2d4f28c6db25c9da4270cf84b4fa2f9180b
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"code":200,"status":"Ok","etag":"a441c2d4f28c6db25c9da4270cf84b4fa2f9180b","data":{"offset":0,"limit":20,"total":1,"count":1,"results":[{"id":1009521,"name":"
        Hank Pym","description":"","modified":"1969-12-31T19:00:00-0500","thumbnail":{"path":"http://i.annihil.us/u/prod/marvel/i/mg/8/c0/4ce5a0e31f109","extension":"jpg"},"resourceURI":"http://gateway.marvel.com/v1/public/characters/1009521","comics":{"available":44,"collectionURI":"http://gateway.marvel.com/v1/public/characters/1009521/comics","items":[{"resourceURI":"http://gateway.marvel.com/v1/public/comics/35533","name":"Amazing
        Spider-Man (1999) #661"},{"resourceURI":"http://gateway.marvel.com/v1/public/comics/39041","name":"Amazing
        Spider-Man (1999) #661 (X-Men Art Variant)"},{"resourceURI":"http://gateway.marvel.com/v1/public/comics/35534","name":"Amazing
        Spider-Man (1999) #662"},{"resourceURI":"http://gateway.marvel.com/v1/public/comics/7336","name":"Avengers
        (1963) #83"},{"resourceURI":"http://gateway.[...]
- request:
    method: get
    uri: http://gateway.marvel.com/v1/public//characters/1009521?apikey=07e4dc912806b1c5d1e51687095bca09&hash=0db5e378a0838a56ec2e8fadcc495e9a&ts=1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - a441c2d4f28c6db25c9da4270cf84b4fa2f9180b
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"code":200,"status":"Ok","etag":[...]
