---
http_interactions:
- request:
    method: get
    uri: http://gateway.marvel.com/v1/public/creators?apikey=07e4dc912806b1c5d1e51687095bca09&hash=0db5e378a0838a56ec2e8fadcc495e9a&limit=4&ts=1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - e35f9f5b10bca1d0c35bf3bccc7178f28e0074f2
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"code":200,"status":"Ok","etag":"e35f9f5b10bca1d0c35bf3bccc7178f28e0074f2","data":{"offset":0,"limit":4,"total":5558,"count":4,"results":[{"id":7968,"firstName":"","middleName":"","lastName":"","suffix":"","fullName":"","modified":"-0001-11-30T00:00:00-0500","thumbnail":{"path":"http://i.annihil.us/u/prod/marvel/i/mg/b/40/image_not_available","extension":"jpg"},"resourceURI":"http://gateway.marvel.com/v1/public/creators/7968","comics":{"available":0,"collectionURI":"http://gateway.marvel.com/v1/public/creators/7968/comics","items":[],"returned":0},"series":{"available":0,"collectionURI":"http://gateway.marvel.com/v1/public/creators/7968/series","items":[],"returned":0},"stories":{"available":0,"collectionURI":"http://gateway.marvel.com/v1/public/creators/7968/stories","items":[],"returned":0},"events":{"available":0,"collectionURI":"http://gateway.marvel.com/v1/public/creators/7968/events","items":[],"returned":0},"urls":[{"type":"detail","url":"http://marvel.com/comics/creators/7968?utm_campaign=apiRef&utm_source=07e4dc912806b1c5d1e51687095bca09"}]},{"id":6606,"firstName":"A.R.K.","middleName":"","lastName":"","suffix":"","fullName":"A.R.K.","modified":"2007-01-02T00:00:00-0500","thumbnail":{"path":"http://i.annihil.us/u/prod/marvel/i/mg/b/40/image_not_available","extension":"jpg"},"resourceURI":"http://gateway.marvel.com/v1/public/creators/6606","comics":{"available":1,"collectionURI":"http://gateway.marvel.com/v1/public/creators/6606/comics","items":[{"resourceURI":"http://gateway.marvel.com/v1/public/comics/19815","name":"Marvel
        Fanfare (1982) #4"}],"returned":1},"series":{"available":1,"collectionURI":"http://gateway.marvel.com/v1/public/creators/6606/series","items":[{"resourceURI":"http://gateway.marvel.com/v1/public/series/3719","name":"Marvel
        Fanfare (1982 - 1992)"}],"returned":1},"stories":{"available":1,"collectionURI":"http://gateway.marvel.com/v1/public/creators/6606/stories","items":[{"resourceURI":"http://gateway.marvel.com/v1/public/stories/42310","name":"Mindgame","type":"interiorSto[...]
