---
http_interactions:
- request:
    method: get
    uri: http://gateway.marvel.com/v1/public/creators/546?apikey=07e4dc912806b1c5d1e51687095bca09&hash=0db5e378a0838a56ec2e8fadcc495e9a&ts=1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - 60a8af9f49886dba6117271619fb5bbc1ee0d293
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"code":200,"status":"Ok","etag":"60a8af9f49886dba6117271619fb5bbc1ee0d293","data":{"offset":0,"limit":20,"total":1,"count":1,"results":[{"id":546,"firstName":"Brian","middleName":"","lastName":"Ashmore","suffix":"","fullName":"Brian
        Ashmore","modified":"2007-01-02T00:00:00-0500","thumbnail":{"path":"http://i.annihil.us/u/prod/marvel/i/mg/b/30/4bc36a3ca03e0","extension":"jpg"},"resourceURI":"http://gateway.marvel.com/v1/public/creators/546","comics":{"available":4,"collectionURI":"http://gateway.marvel.com/v1/public/creators/546/comics","items":[{"resourceURI":"http://gateway.marvel.com/v1/public/comics/16090","name":"Hulk:
        Nightmerica (2003) #1"},{"resourceURI":"http://gateway.marvel.com/v1/public/comics/16091","name":"Hulk:
        Nightmerica (2003) #2"},{"resourceURI":"http://gateway.marvel.com/v1/public/comics/382","name":"Hulk:
        Nightmerica (2003) #5"},{"resourceURI":"http://gateway.marvel.com/v1/public/comics/288","name":"Hulk:
        Nightmerica (2003) #6"}],"returned":4},"series":{"available":1,"collectionURI":"http://gateway.marvel.com/v1/public/creators/546/series","items":[{"resourceURI":"http://gateway.marvel.com/v1/public/series/648","name":"Hulk:
        Nightmerica (2003 - 2004)"}],"returned":1},"stories":{"available":6,"collectionURI":"http://gateway.marvel.com/v1/public/creators/546/stories","items":[{"resourceURI":"http://gateway.marvel.com/v1/public/stories/1304","name":"Cover
        #1304","type":"cover"},{"resourceURI":"http://gateway.marvel.com/v1/public/stories/2261","name":"Cover
        #2261","type":"cover"},{"resourceURI":"http://gateway.marvel.com/v1/public/stories/32872","name":"Cover
        #32872","type":"cover"},{"resourceURI":"http://gateway.marvel.com/v1/public/stories/32873","name":"Nightmerica
        The Quarry","type":"interiorStory"},{"resourceURI":"http://gateway.marvel.com/v1/public/stories/32874","name":"Cover
        #32874","type":"cover"},{"resourceURI":"http://gateway.marvel.com/v1/public/stories/32875","name":"Interior
        #32875","type":"interiorStory"}],"returned":6},"events":{"available":0,"collectionURI":"http://gateway.marvel.com/v1/public/creators/546/events","items":[],"returned":0},"urls":[{"type":"detail","url":"http://marvel.com/comics/creators/546/brian_ashmore?utm_campaign=apiRef&utm_source=07e4dc912806b1c5d1e51687095bca09"}]}]}}'
  recorded_at: Sun, 09 Feb 2014 02:30:53 GMT
recorded_with: VCR 2.8.0
