---
http_interactions:
- request:
    method: get
    uri: http://gateway.marvel.com/v1/public//characters/1009521?apikey=07e4dc912806b1c5d1e51687095bca09&hash=0db5e378a0838a56ec2e8fadcc495e9a&ts=1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - 9a3c31018e37345cce34998b3e7e932665ead9c1
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"code":200,"status":"Ok","etag":"9a3c31018e37345cce34998b3e7e932665ead9c1","data":{"offset":0,"limit":20,"total":1,"count":1,"results":[{"id":1009521,"name":"
        Hank Pym","description":"","modified":"1969-12-31T19:00:00-0500","thumbnail":{"path":"http://i.annihil.us/u/prod/marvel/i/mg/8/c0/4ce5a0e31f109","extension":"jpg"},"resourceURI":"http://gateway.marvel.com/v1/public/characters/1009521","comics":{"available":44,"collectionURI":"http://gateway.marvel.com/v1/public/characters/1009521/comics","items":[{"resourceURI":"http://gateway.marvel.com/v1/public/comics/35533","name":"Amazing
        Spider-Man (1999) #661"},{"resourceURI":"http://gateway.marvel.com/v1/public/comics/39041","name":"Amazing
        Spider-Man (1999) #661 (X-Men Art Variant)"},{"resourceURI":"http://gateway.marvel.com/v1/public/comics/35534","name":"Amazing
        Spider-Man (1999) #662"},{"resourceURI":"http://gateway.marvel.com/v1/public/comics/7336","name":"Avengers
        (1963) #83"},{"resourceURI":"http://gateway.[...]
- request:
    method: get
    uri: http://gateway.marvel.com/v1/public//characters?apikey=07e4dc912806b1c5d1e51687095bca09&hash=0db5e378a0838a56ec2e8fadcc495e9a&ts=1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - d7d86d80d3c899729f7f9f216bd0d1dfbd5670b6
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"code":200,"status":"Ok","etag":"d7d86d8[...]
- request:
    method: get
    uri: http://gateway.marvel.com/v1/public//characters?apikey=07e4dc912806b1c5d1e51687095bca09&hash=0db5e378a0838a56ec2e8fadcc495e9a&limit=4&ts=1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - 86caa60fc3def884f1eee2982bcccf126113860a
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"code":200,"status":"Ok","etag":[...]
- request:
    method: get
    uri: http://gateway.marvel.com/v1/public//characters?apikey=07e4dc912806b1c5d1e51687095bca09&hash=0db5e378a0838a56ec2e8fadcc495e9a&name=Spider-Man&ts=1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - 582f9fce3ee333c22d947fc3b74cf3a96d63ed24
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"code":200,"status":"Ok"[...]
- request:
    method: get
    uri: http://gateway.marvel.com/v1/public/comics/36489/characters?apikey=07e4dc912806b1c5d1e51687095bca09&hash=0db5e378a0838a56ec2e8fadcc495e9a&ts=1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - e11561684e2f752a2e0044568b7211ed779816c3
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"code":200,"status":"Ok","et[...]
- request:
    method: get
    uri: http://gateway.marvel.com/v1/public/series/20/characters?apikey=07e4dc912806b1c5d1e51687095bca09&hash=0db5e378a0838a56ec2e8fadcc495e9a&ts=1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - 3b69933b4cf9e02a75e6b4f51d1e7252012d7056
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        eyJjb2RlI[...]
- request:
    method: get
    uri: http://gateway.marvel.com/v1/public/stories/5621/characters?apikey=07e4dc912806b1c5d1e51687095bca09&hash=0db5e378a0838a56ec2e8fadcc495e9a&ts=1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - 2332b6a9f2e0990ed442e36e66c9a85c9ade8555
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"code":200,"status":"Ok","et[...]
- request:
    method: get
    uri: http://gateway.marvel.com/v1/public/events/318/characters?apikey=07e4dc912806b1c5d1e51687095bca09&hash=0db5e378a0838a56ec2e8fadcc495e9a&ts=1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - b60ddfc0ba990329ee06318254f863c447b66058
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"code":200,"status":"Ok","etag[...]
- request:
    method: get
    uri: http://gateway.marvel.com/v1/public//comics/41530?apikey=07e4dc912806b1c5d1e51687095bca09&hash=0db5e378a0838a56ec2e8fadcc495e9a&ts=1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - fe1702131f36554b16a21d6ce9e713479167526c
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        eyJjb2RlIjoyMDAs[...]
- request:
    method: get
    uri: http://gateway.marvel.com/v1/public//comics?apikey=07e4dc912806b1c5d1e51687095bca09&hash=0db5e378a0838a56ec2e8fadcc495e9a&ts=1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - 04f866d2553ff6d4a115a7941d2847920f2d8b5e
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        eyJjb2RlIjoyMDAsInN0YX[...]
- request:
    method: get
    uri: http://gateway.marvel.com/v1/public//comics?apikey=07e4dc912806b1c5d1e51687095bca09&hash=0db5e378a0838a56ec2e8fadcc495e9a&limit=4&ts=1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - 020634d077c676754c32f0d95f3e3ed284fb2cb3
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        eyJjb2RlIjoyMD[...]
- request:
    method: get
    uri: http://gateway.marvel.com/v1/public//comics?apikey=07e4dc912806b1c5d1e51687095bca09&format=digital%20comic&hash=0db5e378a0838a56ec2e8fadcc495e9a&ts=1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - 4c28ec63285d5dd7eaeca8096479d177d3c2d92b
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: !binary |-
       [...]
- request:
    method: get
    uri: http://gateway.marvel.com/v1/public//creators/546?apikey=07e4dc912806b1c5d1e51687095bca09&hash=0db5e378a0838a56ec2e8fadcc495e9a&ts=1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - 60a8af9f49886dba6117271619fb5bbc1ee0d293
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"code":200,"status":"Ok","etag":"60a8af9f49886dba6117271619fb5bbc1ee0d293","data":{"offset":0,"limit":20,"total":1,"count":1,"results":[{"id":546,"firstName":"Brian","middleName":"","lastName":"Ashmore","suffix":"","fullName":"Brian
        Ashmore","modified":"2007-01-02T00:00:00-0500","thumbnail":{"path":"http://i.annihil.us/u/prod/marvel/i/mg/b/30/4bc36a3ca03e0","extension":"jpg"},"resourceURI":"http://gateway.marvel.com/v1/public/creators/546","comics":{"available":4,"collectionURI":"http://gateway.marvel.com/v1/public/creators/546/comics","items":[{"resourceURI":"http://gateway.marvel.com/v1/public/comics/16090","name":"Hulk:
        Nightmerica (2003) #1"},{"resourceURI":"http://gateway.marvel.com/v1/public/comics/16091","name":"Hulk:
        Nightmerica (2003) #2"},{"resourceURI":"http://gateway.marvel.com/v1/public/comics/382","name":"Hulk:
        Nightmerica (2003) #5"},{"resourceURI":"http://gateway.marvel.com/v1/public/comics/288","name":"Hulk:
        Nightmerica (2003) #6"}],"returned":4},"series":{"available":1,"collectionURI":"http://gateway.marvel.com/v1/public/creators/546/series","items":[{"resourceURI":"http://gateway.marvel.com/v1/public/series/648","name":"Hulk:
        Nightmerica (2003 - 2004)"}],"returned":1},"stories":{"available":6,"collectionURI":"http://gateway.marvel.com/v1/public/creators/546/stories","items":[{"resourceURI":"http://gateway.marvel.com/v1/public/stories/1304","name":"Cover
        #1304","type":"cover"},{"resourceURI":"http://gateway.marvel.com/v1/public/stories/2261","name":"Cover
        #2261","type":"cover"},{"resourceURI":"http://gateway.marvel.com/v1/public/stories/32872","name":"Cover
        #32872","type":"cover"},{"resourceURI":"http://gateway.marvel.com/v1/public/stories/32873","name":"Nightmerica
        The Quarry","type":"interiorStory"},{"resourceURI":"http://gateway.marvel.com/v1/public/stories/32874","name":"Cover
        #32874","type":"cover"},{"resourceURI":"http://gateway.marvel.com/v1/public/stories/32875","name":"Interior
        #32875","type":"interiorStory"}],"returned":6},"events":{"available":0,"collectionURI":"http://gateway.marvel.com/v1/public/creators/546/events","items":[],"returned":0},"urls":[{"type":"detail","url":"http://marvel.com/comics/creators/546/brian_ashmore?utm_campaign=apiRef&utm_source=07e4dc912806b1c5d1e51687095bca09"}]}]}}'
  recorded_at: Sun, 09 Feb 2014 05:45:20 GMT
- request:
    method: get
    uri: http://gateway.marvel.com/v1/public//creators?apikey=07e4dc912806b1c5d1e51687095bca09&hash=0db5e378a0838a56ec2e8fadcc495e9a&ts=1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - f0c21f7ea9e46c4de71441222ecad37260cb950a
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"code":200,"status":"Ok","etag":"f0c21f7ea[...]
- request:
    method: get
    uri: http://gateway.marvel.com/v1/public//creators?apikey=07e4dc912806b1c5d1e51687095bca09&hash=0db5e378a0838a56ec2e8fadcc495e9a&limit=4&ts=1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - e35f9f5b10bca1d0c35bf3bccc7178f28e0074f2
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"code":200,"status":"Ok","etag":"e[...]
- request:
    method: get
    uri: http://gateway.marvel.com/v1/public//creators?apikey=07e4dc912806b1c5d1e51687095bca09&firstName=Brian&hash=0db5e378a0838a56ec2e8fadcc495e9a&ts=1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - 10fe885ef29c4066cd159e253f2c1c9c577e5826
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        eyJj[...]
- request:
    method: get
    uri: http://gateway.marvel.com/v1/public//series/3?apikey=07e4dc912806b1c5d1e51687095bca09&hash=0db5e378a0838a56ec2e8fadcc495e9a&ts=1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - 8221a690d64fee6a74cd0e4ef6dba4feff1f6518
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"code":200,"status":"Ok","etag":"8221a690d64fee6a74cd0e4ef6dba4feff1f6518","data":{"offset":0,"limit":20,"total":1,"count":1,"results":[{"id":3,"title":"Amazing
        Spider-Man Vol. III: Until the Stars Turn Cold (1999)","description":null,"resourceURI":"http://gateway.marvel.com/v1/public/series/3","urls":[{"type":"detail","url":"http://marvel.com/comics/series/3/amazing_spider-man_vol_iii_until_the_stars_turn_cold_1999?utm_campaign=apiRef&utm_source=07e4dc912806b1c5d1e51687095bca09"}],"startYear":1999,"endYear":1999,"rating":"MARVEL
        PSR","type":"collection","modified":"-0001-11-30T00:00:00-0500","thumbnail":{"path":"http://i.annihil.us/u/prod/marvel/i/mg/f/20/4ba92cccf096a","extension":"jpg"},"creators":{"available":0,"collectionURI":"http://gateway.marvel.com/v1/public/series/3/creators","items":[],"returned":0},"characters":{"available":0,"collectionURI":"http://gateway.marvel.com/v1/public/series/3/characters","items":[],"returned":0},"stories":{"available":1,"collectionURI":"http://gateway.marvel.com/v1/public/series/3/stories","items":[{"resourceURI":"http://gateway.marvel.com/v1/public/stories/65081","name":"AMAZING
        SPIDER-MAN VOL. III: UNTIL THE STARS TURN COLD TPB 0 cover","type":"cover"}],"returned":1},"comics":{"available":1,"collectionURI":"http://gateway.marvel.com/v1/public/series/3/comics","items":[{"resourceURI":"http://gateway.marvel.com/v1/public/comics/938","name":"Amazing
        Spider-Man Vol. III: Until the Stars Turn Cold (Trade Paperback)"}],"returned":1},"events":{"available":0,"collectionURI":"http://gateway.marvel.com/v1/public/series/3/events","items":[],"returned":0},"next":null,"previous":null}]}}'
  recorded_at: Sun, 09 Feb 2014 05:45:23 GMT
- request:
    method: get
    uri: http://gateway.marvel.com/v1/public//series?apikey=07e4dc912806b1c5d1e51687095bca09&hash=0db5e378a0838a56ec2e8fadcc495e9a&ts=1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - d305733d1072918a96c53e9730b73eb7b531dbd4
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        eyJjb2RlIjoyMDAsInN0YX[...]
- request:
    method: get
    uri: http://gateway.marvel.com/v1/public//stories?apikey=07e4dc912806b1c5d1e51687095bca09&hash=0db5e378a0838a56ec2e8fadcc495e9a&limit=4&ts=1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - f348ec8a99ad9fdb280aeb92758d6f0a93431b20
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        eyJjb2RlIjoyM[...]
- request:
    method: get
    uri: http://gateway.marvel.com/v1/public//stories?apikey=07e4dc912806b1c5d1e51687095bca09&hash=0db5e378a0838a56ec2e8fadcc495e9a&ts=1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - 12adf6996f7a783a381153b23c232488c4b50e90
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        eyJjb2RlIjoyMDAsInN0Y[...]
- request:
    method: get
    uri: http://gateway.marvel.com/v1/public//stories/3?apikey=07e4dc912806b1c5d1e51687095bca09&hash=0db5e378a0838a56ec2e8fadcc495e9a&ts=1
    body:
      encoding: US-ASCII
  