---
http_interactions:
- request:
    method: get
    uri: http://gateway.marvel.com/v1/public/stories/1009521?apikey=07e4dc912806b1c5d1e51687095bca09&hash=0db5e378a0838a56ec2e8fadcc495e9a&ts=1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"code":404,"status":"We couldn''t find that comic_story"}'
  recorded_at: Sun, 09 Feb 2014 03:08:16 GMT
- request:
    method: get
    uri: http://gateway.marvel.com/v1/public/stories/3?apikey=07e4dc912806b1c5d1e51687095bca09&hash=0db5e378a0838a56ec2e8fadcc495e9a&ts=1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - d4d2d8963fa4274c96745f8b215f930b837a6aa9
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"code":200,"status":"Ok","etag":"d4d2d8963fa4274c96745f8b215f930b837a6aa9","data":{"offset":0,"limit":20,"total":1,"count":1,"results":[{"id":3,"title":"Cover
        #3","description":"","resourceURI":"http://gateway.marvel.com/v1/public/stories/3","type":"cover","modified":"1969-12-31T19:00:00-0500","thumbnail":null,"creators":{"available":0,"collectionURI":"http://gateway.marvel.com/v1/public/stories/3/creators","items":[],"returned":0},"characters":{"available":0,"collectionURI":"http://gateway.marvel.com/v1/public/stories/3/characters","items":[],"returned":0},"series":{"available":2,"collectionURI":{"service":"comic_storySeries","id":3},"items":[{"resourceURI":"http://gateway.marvel.com/v1/public/series/2","name":"Amazing
        Spider-Man Vol. II: Revelations (2002)"},{"resourceURI":"http://gateway.marvel.com/v1/public/series/8512","name":"Ultimate
        Comics X (2010 - 2011)"}],"returned":2},"comics":{"available":2,"collectionURI":"http://gateway.marvel.com/v1/public/stories/3/comics","items":[{"resourceURI":"http://gateway.marvel.com/v1/public/comics/937","name":"Amazing
        Spider-Man Vol. II: Revelations (Trade Paperback)"},{"resourceURI":"http://gateway.marvel.com/v1/public/comics/31443","name":"Ultimate
        Comics X (2010) #1 (3RD PRINTING VARIANT)"}],"returned":2},"events":{"available":0,"collectionURI":"http://gateway.marvel.com/v1/public/stories/3/events","items":[],"returned":0},"originalIssue":{"resourceURI":"http://gateway.marvel.com/v1/public/comics/937","name":"Amazing
        Spider-Man Vol. II: Revelations (Trade Paperback)"}}]}}'
  recorded_at: Sun, 09 Feb 2014 03:09:00 GMT
recorded_with: VCR 2.8.0
